<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid">
    <div class="arrow-box">
        <img *ngIf="!isFirstPage()" class="arrow-icon" src="assets/arrow_left.png" (click)=onClickLeft()/>
    </div>

    <div class="links">
        <app-news-link *ngFor="let np of newsPages[serieIndex] ; let i = index"
            [photoPath]="np.photoPath"
            [serieIndex]="serieIndex"
            [pageIndex]="i">
        </app-news-link>
    </div>

    <div class="arrow-box">
        <img *ngIf="!isLastPage()" class="arrow-icon" src="assets/arrow_right.png" (click)=onClickRight()/>
    </div>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>