.chatBox  {
	height : 100% ;
	width : 90% ;
	background-color : white ;
	display : flex ;
	align-items : center ;
	border : 3px solid black ;
	border-radius : 20px ;
}

main {
	height : 60vh ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
}

.newsLink{
	text-decoration : underline ;
}

.photo  {
	width : 50% ;
	height : 100% ;
	padding : 4% ;
	border : 2px solid black ;
}

.text  {
	width : 50% ;
	text-align : justify ;
	padding : 4% ;
	height : 100% ;
	color : black ;
	font-weight : 400 ;
}

