<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main>
    <div class="arrow-box">
        <img *ngIf="!isFirstPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_left.png" (click)=onClickLeft()/>
    </div>

    <div class="weatherBoxes">	
        <app-weather-box
            *ngFor="let wp of weatherPages[weatherLinkSerieIndex][weatherLinkIndex].page[weatherPageIndex]"
            [numberOfBoxes]="wp.numberOfBoxes"
            [date]="wp.date"
            [weathText]="wp.weathText"
            [weathIconPath]="wp.weathIconPath"
            [windText]="wp.windText"
            [temperature]="wp.temp">
        </app-weather-box>
    </div>

	<div class="arrow-box">
        <img *ngIf="!isLastPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_right.png" (click)=onClickRight()/>
    </div>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>
<!-- media query below 1325px -->