.arrow-box {
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-icon {
	height: 50%;
	width: 50%;
}

main {
	height: 60vh;
	color: black;
	font-size: 200%;
	font-style: italic;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.weatherBoxes {
	width: 80vw;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}