<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid">
    <app-weather-box
        *ngFor="let wp of weatherPages[serieIndex][pageIndex].page"
        [numberOfBoxes]="wp.numberOfBoxes"
        [date]="wp.date"
        [weathText]="wp.weathText"
        [weathIconPath]="wp.weathIconPath"
        [windText]="wp.windText"
        [temperature]="wp.temp">
    </app-weather-box>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>
<!-- media query below 1325px -->