<!-- Exemple of pipes if we need someday : <p>Mis à jour : {{ lastUpdate | async | date: 'short' | lowercase}} </p> -->
<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid">
    <app-message-link *ngFor="let m of messagesLinks ; let i = index"
        [indexLink]="i"
        [name]="m.name"
        [photoPath]="m.photoPath"

        (click)="navigatePageMessage()">
    </app-message-link>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>