<div class="all">
    <app-header
        [headerText]="title">
    </app-header>

    <div class="content">
        <img class="item-border photo" [src]="photoPath" />
        
        <div class="text item">
            {{text}}
        </div>
    </div>

    <div class="nav-news-bar">
        <img class="newsPhoto item-border" [src]="n.photoPath" routerLinkActive="item-border-highlight" [routerLink]="link" *ngFor="let n of news[categoryIndex] ; let i = index" (click)="onClick()" />
    </div>
</div>
