main {
	background-color : #1A0050 ;
}

a:hover {
	text-decoration : none ;
}

#header{
	height : 30vh ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
}

#main {
	height : 40vh ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
}

#footer {
	height : 30vh ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
}

.container-fluid {
	color : white ;
	text-align : center ;
}

.menCol {
	margin : 4% ;
	background-color : purple ;
}

.menCol:hover, .icon:hover {
	background-color : orange ;
}

.itemTitle {
	color : white ;
}

.icon {
	width : 150px ;
	height : 150px ;
	background-color : purple ;
	padding-bottom : 10% ;
}