p {
    height: 10vh;
    width: 85vw;
    padding-right: 10%;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 45vh;
    margin-bottom: 45vh;
    font-size: 4vw;
}