#bigWeatherBox {
	width: 80vw;
	font-size: 5vw;
	display: flex;
	flex-direction: column;
}

#bigWeatherBox > .skyAndTemp {
	height: 30vh;
	width: 100%;
	border-bottom: 3px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#bigWeatherBox > .skyAndTemp > img {
	width: 30%;
	height: 90%;
}

#bigWeatherBox > .skyAndTemp > .skyText {
	width: 35%;
	padding-left: 30px;
	text-align: left;
}

#bigWeatherBox > .skyAndTemp > .temperature {
	width: 50%;
}

#bigWeatherBox > .wind {
	height: 30vh;
	width: 100%;
	padding-left: 22px;
    padding-bottom: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#bigWeatherBox > .wind > img {
	width: 24%;
    height: 90%;
}

#bigWeatherBox > .wind > p {
	flex-grow: 1;
}

#littleWeatherBox {
	width: 80vw;
	border: 3px solid black;
	border-radius: 15px;
	background-color: white;
	font-size: 4vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#littleWeatherBox > .date {
	width: 16%;
}

#littleWeatherBox > .skyIcon {
	width: 12%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#littleWeatherBox > .skyText {
	width: 32%;
	display: flex;
	align-items: center;
	padding-left: 17px;
}

#littleWeatherBox > .temperature {
	width: 10%;
}

#littleWeatherBox > .windIcon {
	width: 9%;
	height: 77%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#littleWeatherBox > .windText {
	padding-left: 10px;
	text-align: left;
	flex-grow: 1;
}