<div id="littleWeatherBox" *ngIf="numberOfBoxes===3" style='height:20vh'> 
    <p class="date"> {{date}} </p>
    <img class = "skyIcon" [src]="weathIconPath"/>
    <p class = "skyText"> {{weathText}} </p> 
    <p class = "temperature"> {{temperature}} </p> 
    <img class = "windIcon" [src]="windIconPath"/>
    <p class = "windText"> {{windText}} </p>
</div>

<div id="bigWeatherBox" *ngIf="numberOfBoxes===1">
    <div class="skyAndTemp">
        <img [src]="weathIconPath"/>
        <p class = "skyText"> {{weathText}} </p> 
        <p class = "temperature"> {{temperature}} </p> 
    </div>
    <div class="wind">
        <img [src]="windIconPath"/>	
        <p> {{windText}} </p>
    </div>
</div>