.all {
    display: flex;
    flex-direction: row;
}

.catIcon {
    height: 70%;
    width: 60%;
}

.center {
    display: flex;
    flex-direction: column;
}

li {
    height: 20%;
    width: 15vw;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
	justify-content: center; // horizontal align
    align-items: center; // vertical align
}

.nav-categories-bar {
    height: 100vh;
    width: 16vw;
    padding-top: 1vh;
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news {
    height: 56vh;
}