<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>
<main class="container-fluid">
    <div class="chatBox">
        <img [src]="imageLink" class = "photo"/>
        <div class="text"> Your daughter Aoife will come to you this afternoon. She will bring you a little souvenir of her last trip in Slovenia. 
        She thinks a lot about you and want to see you before go back to work on Monday. 
        </div>
    </div>
</main>
<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>