#main {
	height : 60vh ;
	width : 80% ;
	display : flex ;
	flex-direction : column ;
}

.row {
	border : 2px solid  black ;
	width : 100% ;
	height : 100% ;
	margin : 2px ;
	background-color : white ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	color : black ;
	font-size : 200% ;
	font-style : italic ;
}