.arrow-box {
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-icon {
	height: 50%;
	width: 50%;
}


main {
	height: 60vh;
	display: flex;
	flex-direction: row;
}

.reminders {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}