<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid">
  <div class = "row"> 
      <p> Don't forget to take your pills after lunch ! </p>
  </div>
  <div class = "row"> 
      <p> Aoife will come around 6 this afternoon. </p>
  </div>
  <div class = "row"> 
      <p> You will have an appointment with the doctor on Monday at 9am. </p>
  </div>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>