<app-header 
	[headerHeight] = "hfHeight"
	[headerMessage] = "hMessage">
</app-header>

<main>
	<div class="arrow-box">
		<img *ngIf="!isFirstPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_left.png" (click)=onClickLeft()/>
	</div>

	<div class="reminders">		
		<app-reminder-box
			*ngFor="let r of reminders[pageIndex]" 
			[reminderText]="r">
		</app-reminder-box>
	</div>

	<div class="arrow-box">
		<img *ngIf="!isLastPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_right.png" (click)=onClickRight()/>
	</div>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>