header {
    height: 20vh;
    color: white;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header:hover {
    color: lightsalmon;
}