<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid">
    <app-weather-box style="height:25%;"
    *ngFor="let bc of boxContent ; let i = index" 
    [date]= "bc.date"
    [weathText]="bc.weathText"
    [weathIconPath]="bc.weathIconPath"
    [windText]="bc.windText"
    [temperature]="bc.temp">
    </app-weather-box>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>
<!-- media query below 1325px -->