.icon {
	width: 100%;
	height: 100%;
}

.itemTitle {
	margin-bottom: 10px;
	background-color: purple;
	color: white;
}

.menCol {
	padding-top: 10px;
	margin-left: 6vh;
    margin-right: 6vh;
    width: 22vh;
    height: 25vh;
		
}

.menCol:hover {
	background-color: orange;
}