.menCol {
    width: 17vw;
    height: 30vh;
	margin: 0 8.5vw 0 8.5vw;
    padding: 0 10px 0 10px;
    display: flex;
	justify-content: center; // horizontal align
    align-items: center; // vertical align
    font-weight: bold;
}