.menCol {
    width: 17vw;
    height: 30vh;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    display: flex;
	justify-content: center; // horizontal align
    align-items: center; // vertical align
    font-weight: bold;
}