.container-fluid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.icon {
	width: 80%;
	height: 60%;
}

.itemTitle {
	height: 20%;
	margin-bottom: 10%;
}