main {
	height: 60vh;
	display: flex;
	justify-content: center;
	padding-right: 0;
	padding-left: 0;
	// align-items: center; // delete if it works without
}

.chatBox  {
	width: 90%;
	background-color: white;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}