<!-- <p>Mis à jour : {{ lastUpdate | async | date: 'short' | lowercase}} </p> -->

<app-header 
	[headerHeight] = "hfHeight"
	[headerMessage] = "hMessage">
</app-header>

<main >
	<div class="arrow-box">
		<img *ngIf="!isFirstPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_left.png" (click)=onClickLeft()/>
	</div>

	<div class="messages">	
		<app-message-box style="height:20%"
						*ngFor="let m of messages[personSerieIndex][personIndex][messagesSerieIndex]" 
						[messText]="m.text"
						[messStatus]="m.status">
		</app-message-box>
	</div>

	<div class="arrow-box">
		<img *ngIf="!isLastPage() && !isAutoRouting()" class="arrow-icon" src="assets/arrow_right.png" (click)=onClickRight()/>
	</div>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>