<!-- <p>Mis à jour : {{ lastUpdate | async | date: 'short' | lowercase}} </p> -->

<app-header 
  [headerHeight] = "hfHeight"
  [headerMessage] = "hMessage">
</app-header>

<main class="container-fluid chatBox">
    <app-message-box style="height:20%"
                  *ngFor="let m of messPages[0].page ; let i = index" 
                  [messText]="m.text"
                  [messStatus]="m.status"
                  [messIndex]="i"> <!-- don't care now -->
    </app-message-box>
</main>

<app-footer
    [footerHeight] = "hfHeight"
    [footerMessage] = "fMessage">
</app-footer>