.messageBox {
	height: 100%;
	width: 55vw;
	padding: /* top */ 1% /* right */ 4% /* bottom */ 1% /* left */ 4% ;
	margin-bottom: 0;
	background-color: white;
	color: black;
	font-size: 200%;
	font-weight: 700;
	border: 2px solid black;
	border-radius: 20px;
	display: flex;
	align-items: center;
	text-align: left;
}

.messageBox:hover {
	background-color: lightcyan;
}